<nav class="navbar is-warning">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" style="font-family: Helvetica, sans-serif; font-size: 26px; font-weight: bold" href="/{{ site.baseurl }}"><img style="max-height: 60px;" src="{{site.baseurl}}/assets/logo.png" />Clavis</a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a href="{{ site.baseurl }}/glossary" class="navbar-item">
          Glossary
        </a>
        <a href="{{ site.baseurl }}/tags" class="navbar-item">
          Tags
        </a>
      </div>
    </div>
  </div>
</nav>